//project grid

//colours
$portfolio-h2:#101120;
$portfolio-bg: #e1e1f5;
$portfolio-h3: #c99e00;

//fonts
$headline:'Yeseva One', cursive;
$text: 'Roboto', sans-serif;


.projects{
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.project {
    width: 500px;
    margin: 0 0.5rem;
    position: relative;
    >a{
        color: black;
        font-size: 2rem;
    }
}

.project-desc {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.6rem;
    padding: 1rem;
    position: absolute;
    text-align: left;
    bottom: 4rem; left: 2rem; right: 2rem;
    h3 {
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        color: black;
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 1019px) {
    .projects{
        justify-content: center;
    }
    .project{
        width: 600px;
    }
    .project-desc{
        font-size: 1.5rem;
        h3{
            font-size: 2rem;;
        }
    }
}

//portfolio
.portfolio-title{
    >h3{
        color: $portfolio-h3;
        font-size: 2rem;
        font-weight: 900;
        margin: 0 auto 1rem auto;

    }
    >h2{
        color: $portfolio-h2;
        font-family: $headline;
        margin-bottom: 5rem;;
    }
}
.portfolio{
    padding: 6rem 0 12rem 0;
}
img{width: 100%}