//project grid

//colours
$portfolio-h2:#101120;
$portfolio-bg: #e1e1f5;
$portfolio-h3: #c99e00;

//fonts
$headline:'Yeseva One', cursive;
$text: 'Roboto', sans-serif;


.projects{
    max-width: 1100px;
    margin: 0 auto;

}
.project {
    max-width: 500px;
    margin: 0 0.5rem;
    display: inline-flex;
    position: relative;
    text-align: center;
    >a{
        color: $portfolio-h3;
        font-size: 2rem;
    }
}

.project-desc {
    position: absolute;
    text-align: left;
    bottom: 5rem; left: 3rem;
    h3 {
        font-size: 2.5rem;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
    }
}

@media only screen and (max-width: 650px) {
}

//portfolio
.portfolio-title{
    >h3{
        color: $portfolio-h3;
        font-size: 2rem;
        font-weight: 900;
        margin: 0 auto 1rem auto;

    }
    >h2{
        color: $portfolio-h2;
        font-family: $headline;
        margin-bottom: 5rem;;
    }
}
.portfolio{
    padding: 6rem 0 12rem 0;
}
img{width: 100%}