@import '_portfolio';
@import '_project';
@import '_blog';

//colours
$header-bg: #c8f0e3;
$nav-btn-bg:#b58b00;
$portfolio-bg: #ffffff;
$portfolio-h2: #383d58;
$maths: #42815e;
$stats: #9c7047;
$it: #37346e;

//fonts
$headline:'Yeseva One', cursive;
$text: 'Roboto', sans-serif;

//font settings
h1{font-family: $headline;}
p{
    font-family: $text;
    margin-top: 2rem;
}
.small-text{font-size: 1rem;}
.large-text{font-size: 3rem;}

//section backgrounds
body{
    text-align: center;
}
.header{
    background-color: $header-bg;
}
.portfolio{
    background: $portfolio-bg;
}
.contact{
    background: white;
}

//Sections
.contact, .ou, .certification, .skills{
    padding: 10rem 0;
    color: $header-bg;
}

//header
.header { height: 34rem; }
.header-content{
    margin: 10rem 0;
    a { color: #383d58; }
}
.header-title{
    font-size: 6rem;
}
@media only screen and (max-width: 420px) {
    .header-title{ font-size: 5rem; }
}
.d-none { visibility: hidden; }

.animate__bounceInDown {
    animation: bounceInDown;
    animation-duration: 1s;
}
p.byline {
    font-size: 20px;
}

.type-effect {
    font-family: 'courier', monospace;
    background: none;
    font-size: 18px;
    animation: type 3s steps(24);
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid #383d58;
    border-radius: 0;
    width: 24ch;
    margin: auto;
}
@keyframes type {
    0% { width: 0ch; }
    100% { width: 24ch; }
}

//portfolio
.portfolio-title{
    h2{
        color: $portfolio-h2;
        font-family: $text;
        margin-bottom: 5rem;;
    }
}
.portfolio{
    padding: 6rem 0;
}

//Open Uni
.credits{
    font-weight: bold;
}
.circle-icon{
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    margin: 3rem auto 2rem auto;
    .fas{
        font-size: 3.5rem;
        color: white;
        margin: 3.2rem auto;
    }
}
.it{background-color: $it;}
.stats{background-color: $stats;}
.maths{background-color: $maths;}
.fa-check{color: green;}

.ou-level{
    display: flex;
    flex-wrap: wrap;
}
.module{
    width: 23%;
    margin: 0 1%;
}
@media only screen and (max-width: 1000px) {
    .module{
        width: 40%;
        margin: 0 5%;
    }
}
@media only screen and (max-width: 550px) {
    .module{
        width: 90%;
        margin: 0 5%;
    }
}

//certficates
.certification{
    background-color: #eee;
}
.certificates{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fa-certificate{
    width: 25%;
    font-size: 6rem;
    color: $it;
}
.certificate{
    a{ color: $it; }
    p{
        font-size: 2rem;;
        margin: 1rem auto 0.2rem;
    }
}

//Nav
.nav {
    background-color: #edffe1;
    padding: 10px;
    >a {
        padding: 10px 20px;
        color: #616470;
        font-weight: 500;
        &:hover {
            border-bottom: 2px solid #616470;
        }
    }
}
.is-active {
    border-bottom: 2px solid #616470;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: $header-bg;
}
.sticky + .portfolio,
.sticky + .project-page {
    padding-top: 105px;
}
.sticky + .blog {
    padding-top: 45px;
}

//footer
.footer {
    background-color: $header-bg;
    padding: 10px;
}
.footer > .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.make-footer-stick {
    min-height: calc(100vh - 55px);
}
.social > a{
    font-size: 2.2rem;
    padding: 0 7px;
    color: #484848;
    &:hover {
        color: #10cf16;
    }
}
@media only screen and (max-width: 600px) {
    .copyright{
        display: none;
    }
}
@media only screen and (max-width: 350px) {
    .footer > .container{
        flex-direction: column-reverse;
    }
}