@import '_portfolio';

//colours
$header-bg: #0F0F18;
$nav-bg: #191827;
$nav-btn-bg:#b58b00;
$about-me: #62d1c2;
$portfolio-bg: #e1e1f5;
$portfolio-h3: #b58b00;
$maths: #42815e;
$stats: #9c7047;
$it: #37346e;

//fonts
$headline:'Yeseva One', cursive;
$text: 'Roboto', sans-serif;

//font settings
h1{font-family: $headline;}
p{
    font-family: $text;
    margin-top: 2rem;
}
.small-text{font-size: 1rem;}
.large-text{font-size: 3rem;}

//section backgrounds
body{
    text-align: center;
}
.header{
    background-image: url("hex-bkg5.png");
    background-repeat: repeat;
    background-size: auto;
}
.portfolio{
    background: $portfolio-bg;
}
.skills{
    background: #f5f0e1;;
}
.contact{
    background: white;
}

//header
.header-content{
    color: white;
    margin: 15rem 0;
    p{
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        font-style: italic;
        font-size: 2rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.105);
    }
}
.header-title{
    font-size: 8rem;
}
.about-me-btn{
    margin-top: 3rem;;
    padding: 0 4rem;
}
.about-me-btn, .about-me-btn:hover, .about-me-btn:active, .about-me-btn:visited{
    border-radius: 1px;
    border: none;
    background: $portfolio-h3;
    color: white;
    >a{
        color: white;
        border: none;
    }
}

//Open Uni
.credits{
    font-weight: bold;
}
.circle-icon{
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    margin: 3rem auto 2rem auto;
    .fas{
        font-size: 3.5rem;
        color: white;
        margin: 3.2rem auto;
    }
}
.it{background-color: $it;}
.stats{background-color: $stats;}
.maths{background-color: $maths;}
.fas{color: green;}

.ou-level{
    display: flex;
    flex-wrap: wrap;
}
.module{
    width: 23%;
    margin: 0 1%;
}
@media only screen and (max-width: 1000px) {
    .module{
        width: 40%;
        margin: 0 5%;
    }
}
@media only screen and (max-width: 550px) {
    .module{
        width: 90%;
        margin: 0 5%;
    }
}

//Sections
.contact, .ou, .certificates, .skills{
    padding: 10rem 0;
    color: $header-bg;
}

//Skills
.skills {
    h1 {margin-bottom: 5rem;}
    h2 {
        font-family: $headline;
        font-size: 2.5rem;
    }
    h2, p {
        text-align: left;
        max-width: 60rem;
        margin: 3rem auto 1rem auto;
    }
    .logo {
        height: 10rem;
        width: auto;
    }
}

@mixin transition-mix($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: $timing;
    transition-delay: $delay;
}
#nav-open-btn{
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 1;
    height: 5rem;
    width: 5rem;
    padding: 0;
    border-radius: 1px;
    background: $nav-btn-bg;
    border: none;
}
.nav{
    background: $nav-bg;
    width: 30rem;
    position: fixed;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 1;
    overflow: hidden;
    height: 100%;
    &>button{
        width:30rem;
        height: 6rem;
        border-radius: 0;
        border: none;
        background: $header-bg;
    }
}
.nav-list{
    list-style-type: none;
}
.nav-item{
    padding: 2rem 0;
}
a.nav-link{
        color: white;
        padding: 2rem 10rem 2rem 2rem;
    }
.nav-close{
    @include transition-mix($property: right);
    right: -30rem;
}
.nav-open{
    @include transition-mix($property: right);
    right: 0;
}
.hidden{
    visibility: hidden;
}
